<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>سامانه ثبت سفارشات تلفنی فروشگاه اینترنتی سفیرمال</title>
    <link rel="stylesheet" type="text/css" href="../node_modules/foundation-sites/dist/css/foundation.css">
    <link rel="stylesheet" type="text/css" href="../node_modules/foundation-sites/dist/css/foundation-float.css">
    <link rel="stylesheet" type="text/css" href="../node_modules/foundation-sites/dist/css/foundation-prototype.css">
    <link rel="stylesheet" type="text/css" href="../node_modules/foundation-sites/dist/css/foundation-rtl.css">
    <link rel="stylesheet" type="text/css" href="../assets/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="../assets/favicon-1.ico">
    <link rel="stylesheet" type="text/css" href="../node_modules/jquery-form-validator/form-validator/theme-default.css">
    <script src="../node_modules/jquery-form-validator/form-validator/jquery.form-validator.js"></script>
    <script src="../assets/render.js"></script>
    <script>

    </script>
</head>
<body lang="fa" dir="rtl">

efergfrgrgr
<p id="result"></p>


</body>
</html>