<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>سامانه ثبت سفارشات تلفنی فروشگاه اینترنتی سفیرمال</title>
    <link rel="stylesheet" type="text/css" href="../node_modules/foundation-sites/dist/css/foundation.css">
    <link rel="stylesheet" type="text/css" href="../node_modules/foundation-sites/dist/css/foundation-float.css">
    <link rel="stylesheet" type="text/css" href="../node_modules/foundation-sites/dist/css/foundation-prototype.css">
    <link rel="stylesheet" type="text/css" href="../node_modules/foundation-sites/dist/css/foundation-rtl.css">
    <link rel="stylesheet" type="text/css" href="../assets/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="../assets/favicon-1.ico">


    <style>
        html , body{
            height: 100%;
            overflow: hidden;
        }
        .container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100px;
            margin-top: 50px;
        }
    </style>
</head>
<body lang="fa" dir="rtl">
    <div class="container">
        <img src="../assets/favicon-1.ico" style="margin-top: 50px" width="100" height="100">
        <h4>سامانه ثبت سفارشات تلفنی فروشگاه اینترنتی سفیرمال</h4>
        <img src="../assets/loading.gif" width="150" height="150">
    </div>
</body>
</html>